localhost
id18875890_admin
/%|h&cw<k8S4hqBQ
id18875890_project4y

DISCLAIMER : This file stores database credentials that are fetched by other php files
             Fetch only the first 4 lines into your code
             Use necessary file handling methods to access the files
             
1st line - ip address/domain name
2nd line - user name
3rd line - password
4th line - database name